html {
    font-family: "Montserrat", sans-serif;
  }
  
  .circular--square {
    border-radius: 50%;
  }
  
  #contenedor {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 35px;
  }
  
  #col-izq {
    width: 150px;
    float: left;
    background-color: #cccccc;
  }
  
  #col-der {
    background-color: #666666;
    margin-left: 650px;
  }
  
  #contenidos {
    background-color: #999999;
    width: 500px;
    float: left;
  }
  
  table,
  th,
  td {
    border: 1px dotted #000000;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  
  #cabecera {
    margin: 0;
    padding: 0;
    border-bottom: #0000ff solid thin;
  }
  
  #pie {
    clear: both;
    margin: 1px;
    padding: 1px 0 0 0;
    text-align: center;
    border-top: #0000ff solid thin;
    font-size: 80%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #FF6600;
  }
  
  li a:hover {
    background-color: #66FFCC;
  }
  
  div {
    text-align: center;
  }
  
  header {
    background-color: #364552;
    color: #FFFFFF;
    padding: 3px 2px;
  }
  
  header h1 {
    font-size: 3px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    background-color: #222222;
    padding: 3px;
    color: #FFFFFF;
  }
  
  footer section {
    float: right;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    transition: color 0.3 ease;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #FFFF66;
  }